@if(!this.registryError){
<div class="register-box">
  <h1>Registro</h1>
  <div class="welcome">Bienvenido</div>
  <div class="divider"></div>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <input formControlName="email" type="email" placeholder="Email" />
    <input formControlName="name" type="name" placeholder="Nombre" />
    <input
      formControlName="password"
      type="password"
      placeholder="Contraseña"
    />
    <input formControlName="age" type="age" placeholder="Edad" />
    <input
      formControlName="licenseYear"
      type="licenseYear"
      placeholder="Año en que obtuvo el carnet"
    />
    <button type="submit">Registrarse</button>
  </form>
  <img
    src="../../../assets/norton-seal.svg"
    alt="Sello de seguridad de Norton"
  />
</div>

} @else {
<div class="register-box">
  <h1>Registro</h1>
  <div class="welcome">Bienvenido</div>
  <div class="divider"></div>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <input formControlName="email" type="email" placeholder="Email" />
    <input formControlName="name" type="name" placeholder="Nombre" />
    <input
      formControlName="password"
      type="password"
      placeholder="Contraseña"
    />
    <input formControlName="age" type="age" placeholder="Edad" />
    <input
      formControlName="licenseYear"
      type="licenseYear"
      placeholder="Año en que obtuvo el carnet"
    />
    <button type="submit">Registrarse</button>
  </form>
</div>
<div>
  <h2 class="register-error">Ha habido un error, inténtelo de nuevo</h2>
</div>

}
