<footer>
  <div>
    <nav>
      <ul>
        <li>
          <a
            href="https://es.wikipedia.org/wiki/Ley_Org%C3%A1nica_de_Protecci%C3%B3n_de_Datos_de_Car%C3%A1cter_Personal_(Espa%C3%B1a)"
            target="_blank"
            >Privacidad</a
          >
        </li>
        <li>
          <a href="https://github.com/alce65" target="_blank">Configurar</a>
        </li>
        <li>
          <a
            href="https://en.wikipedia.org/wiki/Corporate_social_responsibility"
            target="_blank"
            >Nuestro Compromiso</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div>
    <nav>
      <ul>
        <li>
          <a
            href="https://www.w3.org/WAI/fundamentals/accessibility-intro/"
            target="_blank"
            >Accesibilidad</a
          >
        </li>
        <li>
          <a
            href="https://traduccionjuridica.es/diferencia-shareholder-stockholder/"
            target="_blank"
            >Accionistas</a
          >
        </li>
        <li>
          <a href="https://github.com/alce65" target="_blank"
            >Canal de denuncias</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div class="footer-icons">
    <img
      class="atc-logo"
      src="../../../assets/logoATC.svg"
      alt="distintivo excelencia atención al cliente"
      width="60px"
    />
    <img
      class="aenor-logo"
      src="../../../assets/logo-aenor 3.svg"
      alt="certificado e-commerce AENOR"
      width="40px"
    />
  </div>
</footer>
