.home-container {
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
}

.home-container h2 {
  color: #333;
  text-align: center;
}

.user-info {
  margin-top: 20px;
}

.user-info p {
  margin: 10px 0;
  padding-block: 0.4rem;
}

.divider {
  height: 2px;
  background-color: #ffbd00;
  margin: 10px 0;
}

.home-container button {
  background-color: #ffbd00;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.user-info button:hover {
  background-color: #e6ac00;
}

.show-pass {
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 0.5rem;
}

.update-data,
.new-policy {
  margin-inline: 25%;
  margin-block: 1rem;
  padding-block: 0.6rem;
  padding-inline: 2rem;
  border-radius: 15px;
}

.hero {
  background-color: #ffbd00;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.hero h2 {
  padding-block: 0.5rem;
  margin-inline: 3rem;
  font-weight: 200;
}

.hero p {
  margin-inline: 25%;
  padding-bottom: 0.5rem;
}

.banner-img,
.app-hook {
  width: 100%;
}

.app-hook {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding-block: 1rem;
}

.download-links {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 600px) {
  .home-container,
  .hero,
  .app-hook,
  .user-info {
    max-width: 800px;
    margin: 0 auto;
  }

  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .new-policy {
    width: auto;
    margin: 20px 0;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero {
    text-align: left;
    padding: 40px;
  }

  .hero h2 {
    margin-inline: 0;
  }

  .hero p {
    margin-inline: 0;
    padding-inline: 15%;
  }

  .app-hook {
    text-align: left;
    padding: 40px;
  }

  .banner-img {
    width: 80%;
    max-width: 600px;
  }

  .download-links {
    justify-content: flex-start;
  }

  .update-data,
  .new-policy {
    margin-inline: 0;
    padding-inline: 2rem;
  }
}
