<div class="home-container">
  <h2>Mis Pólizas</h2>
  <div class="divider"></div>
  <app-policy-list></app-policy-list>
  <button class="new-policy" (click)="createPolicy()">
    Contratar nueva póliza
  </button>
  @if(user) {
  <div class="user-info">
    <h2>Mis datos personales</h2>
    <div class="divider"></div>

    <p>
      Nombre: <span>{{ user.name }}</span>
    </p>

    <p>
      Email: <span>{{ user.email }}</span>
    </p>

    <p>
      Id: <span>{{ user.id }}</span>
    </p>
    <p>
      Edad: <span>{{ user.age }}</span>
    </p>
    <p>
      Año de obtención del permiso: <span>{{ user.licenseYear }}</span>
    </p>

    <button class="update-data" (click)="editUser()">Cambiar mis datos</button>
  </div>
  }
</div>
