<div class="hero">
  <h2>La aseguradora digital nº1 en España</h2>
  <p>Con Umbrella ahorra tiempo, ahorra dinero</p>
</div>
<app-product-list></app-product-list>
<img
  src="../../../assets/banner.webp"
  alt="Umbrella Banner"
  class="banner-img"
/>
<div class="app-hook">
  <h3>¿Todavía no la conoces?</h3>
  <p>Descarga nuestra app y realiza tus gestiones cuando más te convenga</p>
  <p>Participa en retos, acumula saldo y ahorra dinero</p>
  <img
    src="../../../assets/app-hook.png"
    alt="Download our app"
    class="app-hook"
  />
  <div class="download-links">
    <img src="../../../assets/googleplay.svg" alt="Open Google Play Store" />
    <img src="../../../assets/applestore.svg" alt="Open Apple Store" />
  </div>
</div>
